@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

*{
    font-family: Outfit;
    transition: all 0.25s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite linear;
}
/* For WebKit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* tailwind.config.js must have darkMode: 'class' */
html.dark {
  background-color: #0f0f0f; /* Dark bg */
  color: white;
}

* {
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

body {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}